@using sem_prace_janousek_mandik.Models.Goods;
@using sem_prace_janousek_mandik.Models.Supplier;
@model sem_prace_janousek_mandik.Models.Goods.Zbozi_Um_Kat_DodList
@section Title{
	Úprava zboží
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
<h1>Úprava zboží</h1>
</div>

<hr />
<div class="form">
	<div class="col-md-4">
		<p>@ViewBag.ErrorInfo</p>
		<form asp-action="EditGoodsPost" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Zbozi.Nazev" class="control-label"></label>
				<input asp-for="Zbozi.Nazev" class="form-control" />
				<span asp-validation-for="Zbozi.Nazev" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Zbozi.JednotkovaCena" class="control-label"></label>
				<input asp-for="Zbozi.JednotkovaCena" pattern="^\d+(\.\d+)?$" title="Desetinné číslo oddělujte tečkou (.)" class="form-control" />
				<span asp-validation-for="Zbozi.JednotkovaCena" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Zbozi.PocetNaSklade" class="control-label"></label>
				<input asp-for="Zbozi.PocetNaSklade" class="form-control" />
				<span asp-validation-for="Zbozi.PocetNaSklade" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Zbozi.CarovyKod" class="control-label"></label>
				<input asp-for="Zbozi.CarovyKod" class="form-control" />
				<span asp-validation-for="Zbozi.CarovyKod" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Zbozi.Poznamka" class="control-label"></label>
				<input asp-for="Zbozi.Poznamka" class="form-control" />
				<span asp-validation-for="Zbozi.Poznamka" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Kategorie">Kategorie</label>
				<select asp-for="Zbozi.IdKategorie" class="form-control">
					@foreach (Kategorie item in Model.Kategorie)
					{
						<option value="@item.IdKategorie">@item.Nazev, @item.Zkratka</option>
					}
				</select>
			</div>
			<div class="form-group">
				<label asp-for="Umisteni">Umístění</label>
				<select asp-for="Zbozi.IdUmisteni" class="form-control">
					@foreach (Umisteni item in Model.Umisteni)
					{
						<option value="@item.IdUmisteni">@item.Mistnost, @item.Rada, @item.Regal, @item.Pozice</option>
					}
				</select>
			</div>
			<div class="form-group">
				<label asp-for="Dodavatele">Dodavatel</label>
				<select asp-for="Zbozi.IdDodavatele" class="form-control">
					@foreach (Dodavatele item in Model.Dodavatele)
					{
						<option value="@item.IdDodavatele">@item.Nazev</option>
					}
				</select>
			</div>

			<br />
			<div class="form-group">
				<label>Obrázek zboží: </label>
				<input type="file" name="soubor" />
			</div>
			<br />
			<input type="checkbox" name="checkBoxDelete" value="true" />
			<label for="checkBoxDelete">Odstranit obrázek</label>

			<div class="form-group">
				<input type="hidden" asp-for="Zbozi.IdZbozi" value="@Model.Zbozi.IdZbozi" />
			</div>
			<div class="form-group">
				<input type="hidden" asp-for="Zbozi.IdSouboru" value="@Model.Zbozi.IdSouboru" />
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Upravit" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>