@model List<sem_prace_janousek_mandik.Models.Goods.Umisteni>
@using sem_prace_janousek_mandik.Controllers.Goods;
@using sem_prace_janousek_mandik.Models.Goods;
@section Title{
	Výpis umístění
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h2>Výpis všech umístění:</h2>

	<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Goods)" asp-action="@nameof(GoodsController.AddLocation)"><button type="submit">Přidat umístění</button></a>
	<br />
	<br />

	<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Goods)" asp-action="@nameof(GoodsController.SearchLocations)">
		<input name="search" value="@ViewBag.Search" />
		<input type="submit" value="Vyhledat" class="btn btn-primary" />
	</form>
	<br />

	<table border="1">
		<tr>
			<td>Místnost</td>
			<td>Řada</td>
			<td>Regál</td>
			<td>Pozice</td>
			<td>Poslední změna na umístění</td>
			<td>Poznámka</td>
			<td>Upravit</td>
			<td>Odstranit</td>

		</tr>

		@foreach (Umisteni item in Model)
		{
			<tr>
				<td>@item.Mistnost</td>
				<td>@item.Rada</td>
				<td>@item.Regal</td>
				<td>@item.Pozice</td>
				<td>@item.Datum</td>
				<td>@item.Poznamka</td>
				<td>
					<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Goods)" asp-action="@nameof(GoodsController.EditLocationGet)">
						<input type="hidden" name="index" value="@item.IdUmisteni" />
						<input type="submit" value="Upravit" class="btn btn-primary" />
					</form>
				</td>
				<td>
					<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Goods)" asp-action="@nameof(GoodsController.DeleteLocation)">
						<input type="hidden" name="index" value="@item.IdUmisteni" />
						<input type="submit" value="Smazat" class="btn btn-primary" />
					</form>
				</td>
			</tr>
		}
	</table>
</div>