@model sem_prace_janousek_mandik.Models.Payment.Faktury_Platby
@using sem_prace_janousek_mandik.Controllers.Management;
@using sem_prace_janousek_mandik.Controllers.Payment;
@using sem_prace_janousek_mandik.Models.Payment
@section Title{
	Výpis faktur a plateb
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h2>Výpis všech faktur a plateb:</h2>

	@if (ViewBag.Role == Roles.Admin || ViewBag.Role == Roles.Manazer || ViewBag.Role == Roles.Logistik)
	{
		<br />
		<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.AddInvoice)" method="get">
			<input type="submit" value="Vytvořit novou fakturu" class="btn btn-primary" />
		</form>
		<br />
	}

	<div class="list">
		<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.SearchInvoices)" method="get">
			<input for="search" type="text" class="form-control" name="search" value="@ViewBag.Search" />
			<br />
			<input type="submit" value="Vyhledat" class="btn btn-primary" />
		</form>
	</div>

	<br />
	<div class="list">
		<table border="1" class="list table">
			@foreach (Faktury item in Model.Faktury)
			{
				<tr>
					<th>@Html.DisplayNameFor(item => item.Faktury[0].CisloFaktury)</th>
					<th>@Html.DisplayNameFor(item => item.Faktury[0].DatumVystaveni)</th>
					<th>@Html.DisplayNameFor(item => item.Faktury[0].DatumSplatnosti)</th>
					<th>@Html.DisplayNameFor(item => item.Faktury[0].CastkaObjednavka)</th>
					<th>@Html.DisplayNameFor(item => item.Faktury[0].CastkaDoprava)</th>
					<th>@Html.DisplayNameFor(item => item.Faktury[0].Dph)</th>
					<th>Celkem bez DPH [Kč]:</th>
					<th>Částka s DPH [Kč]:</th>
					@if (ViewBag.Role == Roles.Admin)
					{
						<th>Upravit fakturu:</th>
						<th>Odstranit fakturu:</th>
						<th>Přidat platbu:</th>
					}
				</tr>

				float celkemBezDph = item.CastkaObjednavka + item.CastkaDoprava;
				string dph = "1." + item.Dph.ToString();
				float celkemDph = (float)Math.Round(((item.CastkaObjednavka + item.CastkaDoprava) * float.Parse(dph)), 2);
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td>@item.CisloFaktury</td>
					<td>@item.DatumVystaveni.Value.ToString("dd. MM. yyyy")</td>
					<td>@item.DatumSplatnosti.Value.ToString("dd. MM. yyyy")</td>
					<td>@item.CastkaObjednavka</td>
					<td>@item.CastkaDoprava</td>
					<td>@item.Dph</td>
					<td>@celkemBezDph</td>
					<td>@celkemDph</td>
					@if (ViewBag.Role == Roles.Admin)
					{
						<td>
							<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.EditInvoiceGet)">
								<input type="hidden" name="index" value="@item.IdFaktury" />
								<input type="submit" value="Upravit" class="btn btn-primary" />
							</form>
						</td>
						<td>
							<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.DeleteInvoice)">
								<input type="hidden" name="index" value="@item.IdFaktury" />
								<input type="submit" value="Smazat" class="btn btn-primary" />
							</form>
						</td>
						<td>
							<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.AddPaymentGet)">
								<input type="hidden" name="idInvoice" value="@item.IdFaktury" />
								<input type="submit" value="Přidat" class="btn btn-primary" />
							</form>
						</td>
					}
				</tr>

				bool printedHeaderTr = false;

				@foreach (Platby itemPayments in Model.Platby.Where((lmb) => lmb.IdFaktury == item.IdFaktury).ToList())
				{
					@if (!printedHeaderTr)
					{
						<tr></tr>
						<tr></tr>
						<tr></tr>
						<tr>
							<td></td>
							<th>@Html.DisplayNameFor(item => item.Platby[0].TypPlatby)</th>
							<th>@Html.DisplayNameFor(item => item.Platby[0].Castka)</th>
							<th>@Html.DisplayNameFor(item => item.Platby[0].DatumPlatby)</th>
							<th>@Html.DisplayNameFor(item => item.Platby[0].VariabilniSymbol)</th>
							@if (ViewBag.Role == Roles.Admin)
							{
								<th>Upravit platbu:</th>
								<th>Odstranit platbu:</th>
							}
						</tr>
						printedHeaderTr = true;
					}

					<tr>
						<td>>>></td>
						<td>
							@if (itemPayments.TypPlatby == 'K')
							{
								<p>Kartou</p>
							}
							else if (itemPayments.TypPlatby == 'P')
							{
								<p>Prevodem</p>
							}
							else
							{
								<p>Hotove</p>
							}
						</td>
						<td>@itemPayments.Castka</td>
						<td>@itemPayments.DatumPlatby.ToString("dd. MM. yyyy HH:mm")</td>
						<td>@itemPayments.VariabilniSymbol</td>
						@if (ViewBag.Role == Roles.Admin)
						{
							<td>
								<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.EditPaymentGet)">
									<input type="hidden" name="index" value="@itemPayments.IdPlatby" />
									<input type="submit" value="Upravit" class="btn btn-primary" />
								</form>
							</td>
							<td>
								<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.DeletePayment)">
									<input type="hidden" name="index" value="@itemPayments.IdPlatby" />
									<input type="submit" value="Smazat" class="btn btn-primary" />
								</form>
							</td>
						}
					</tr>
				}
			}
		</table>
	</div>
</div>