@model sem_prace_janousek_mandik.Models.Payment.Faktury_Platby
@using sem_prace_janousek_mandik.Controllers.Payment;
@using sem_prace_janousek_mandik.Models.Payment
@section Title{
	Výpis faktur a plateb
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h2>Výpis všech faktur a plateb:</h2>

	@if (ViewBag.Role.Equals("Admin") || ViewBag.Role.Equals("Manazer") || ViewBag.Role.Equals("Logistik"))
	{
		<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.AddInvoice)"><button type="submit">Vytvořit novou fakturu</button></a>
		<br />
		<br />
	}

	<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.SearchInvoices)">
		<input name="search" value="@ViewBag.Search" />
		<input type="submit" value="Vyhledat" class="btn btn-primary" />
	</form>
	<br />

	<table border="1">
		<tr>
			<td style="font-weight: bold;">Č. faktury</td>
			<td style="font-weight: bold;">Datum vystavení</td>
			<td style="font-weight: bold;">Datum splatnosti</td>
			<td style="font-weight: bold;">Částka za zboží</td>
			<td style="font-weight: bold;">Částka za dopravu</td>
			<td style="font-weight: bold;">DPH</td>
			<td style="font-weight: bold;">Celkem bez DPH</td>
			<td style="font-weight: bold;">Částka s DPH</td>
			@if (ViewBag.Role.Equals("Admin"))
			{
				<td style="font-weight: bold;">Upravit</td>
				<td style="font-weight: bold;">Odstranit</td>
				<td style="font-weight: bold;">Přidat platbu</td>
			}
		</tr>

		@{
			bool printedHeaderTr = false;
		}

		@if (ViewBag.Role.Equals("Admin") || ViewBag.Role.Equals("Manazer") || ViewBag.Role.Equals("Logistik"))
		{
			@foreach (Faktury item in Model.Faktury)
			{
				printedHeaderTr = false;
				float celkemBezDph = item.CastkaObjednavka + item.CastkaDoprava;
				string dph = "1." + item.Dph.ToString();
				float celkemDph = (float)Math.Round(((item.CastkaObjednavka + item.CastkaDoprava) * float.Parse(dph)), 2);
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td>@item.CisloFaktury</td>
					<td>@item.DatumVystaveni</td>
					<td>@item.DatumSplatnosti</td>
					<td>@item.CastkaObjednavka</td>
					<td>@item.CastkaDoprava</td>
					<td>@item.Dph</td>
					<td>@celkemBezDph</td>
					<td>@celkemDph</td>
					@if (ViewBag.Role.Equals("Admin"))
					{
						<td>
							<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.EditInvoiceGet)">
								<input type="hidden" name="index" value="@item.IdFaktury" />
								<input type="submit" value="Upravit" class="btn btn-primary" />
							</form>
						</td>
						<td>
							<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.DeleteInvoice)">
								<input type="hidden" name="index" value="@item.IdFaktury" />
								<input type="submit" value="Smazat" class="btn btn-primary" />
							</form>
						</td>
						<td>
							<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.AddPaymentGet)">
								<input type="hidden" name="idInvoice" value="@item.IdFaktury" />
								<input type="submit" value="Přidat" class="btn btn-primary" />
							</form>
						</td>
					}
				</tr>

				@foreach (Platby itemZbozi in Model.Platby.Where((lmb) => lmb.IdFaktury == item.IdFaktury).ToList())
				{
					@if (!printedHeaderTr)
					{
						<tr></tr>
						<tr></tr>
						<tr></tr>
						<tr>
							<td></td>
							<td style="font-weight: bold;">Typ platby</td>
							<td style="font-weight: bold;">Částka</td>
							<td style="font-weight: bold;">Datum platby</td>
							<td style="font-weight: bold;">Variabilní symbol</td>
							@if (ViewBag.Role.Equals("Admin"))
							{
								<td style="font-weight: bold;">Upravit</td>
								<td style="font-weight: bold;">Odstranit</td>
							}
						</tr>
						printedHeaderTr = true;
					}

					<tr>
						<td>>>></td>
						<td>
							@if (itemZbozi.TypPlatby == 'K')
							{
								<p>Kartou</p>
							}
							else if (itemZbozi.TypPlatby == 'P')
							{
								<p>Prevodem</p>
							}
							else
							{
								<p>Hotove</p>
							}
						</td>
						<td>@itemZbozi.Castka</td>
						<td>@itemZbozi.DatumPlatby</td>
						<td>@itemZbozi.VariabilniSymbol</td>
						@if (ViewBag.Role.Equals("Admin"))
						{
							<td>
								<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.EditPaymentGet)">
									<input type="hidden" name="index" value="@itemZbozi.IdPlatby" />
									<input type="submit" value="Upravit" class="btn btn-primary" />
								</form>
							</td>
							<td>
								<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.DeletePayment)">
									<input type="hidden" name="index" value="@itemZbozi.IdPlatby" />
									<input type="submit" value="Smazat" class="btn btn-primary" />
								</form>
							</td>
						}
					</tr>
				}
			}
		}
	</table>
</div>
