@using sem_prace_janousek_mandik.Models.Dodavatele;
@section Title{
	Výpis dodavatelů
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h2>Výpis všech dodavatelů:</h2>

	@if (ViewBag.Role.Equals("Manazer") || ViewBag.Role.Equals("Admin") || ViewBag.Role.Equals("Logistik"))
	{
		<a asp-controller="Dodavatele" asp-action="AddSupplier"><button type="submit">Přidat dodavatele</button></a>
		<br />
		<br />
	}

	<table border="1">
		<tr>
			<td>Název</td>
			<td>Jméno</td>
			<td>Příjmení</td>
			<td>Telefon</td>
			<td>Email</td>
			<td>Ulice</td>
			<td>Město</td>
			<td>Okres</td>
			<td>Země</td>
			<td>PSČ</td>
			@if (ViewBag.Role.Equals("Manazer") || ViewBag.Role.Equals("Admin") || ViewBag.Role.Equals("Logistik"))
			{
				<td>Upravit</td>
			}
			@if (ViewBag.Role.Equals("Admin"))
			{
				<td>Odstranit</td>
			}
		</tr>

		@{
			List<Adresy> adresy = ViewBag.ListOfAddresses;
		}

		@foreach (Dodavatele item in ViewBag.ListOfSuppliers)
		{
			<tr>
				<td>@item.Nazev</td>
				<td>@item.Jmeno</td>
				<td>@item.Prijmeni</td>
				<td>@item.Telefon</td>
				<td>@item.Email</td>
				@{
					Adresy? adresa = adresy.FirstOrDefault((lmb) => lmb.IdAdresy == item.IdAdresy);
				}
				<td>@adresa.Ulice</td>
				<td>@adresa.Mesto</td>
				<td>@adresa.Okres</td>
				<td>@adresa.Zeme</td>
				<td>@adresa.Psc</td>

				@if (ViewBag.Role.Equals("Manazer") || ViewBag.Role.Equals("Admin") || ViewBag.Role.Equals("Logistik"))
				{
					<td><a asp-controller="Dodavatele" asp-action="EditSupplier" asp-route-index="@item.IdDodavatele">Upravit</a></td>
				}
				@if (ViewBag.Role.Equals("Admin"))
				{
					<td><a asp-controller="Dodavatele" asp-action="DeleteSupplier" asp-route-idDodavatele="@item.IdDodavatele" asp-route-idAdresy="@item.IdAdresy">Smazat</a></td>
				}
			</tr>
		}
	</table>
</div>
