@model sem_prace_janousek_mandik.Models.Order.Objednavky_List
@using sem_prace_janousek_mandik.Controllers.Order;
@using sem_prace_janousek_mandik.Controllers.Payment;
@using sem_prace_janousek_mandik.Models.Order
@using sem_prace_janousek_mandik.Models.Payment;

@section Title{
	Výpis objednávek
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h2>Výpis všech objednávek:</h2>

	<br />
	<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Order)" asp-action="@nameof(OrderController.AddOrder)" method="get">
		<input type="submit" value="Vytvořit novou objednávku" class="btn btn-primary" />
	</form>
	<br />

	<div class="list">
		<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Order)" asp-action="@nameof(OrderController.SearchOrders)" method="get">
			<input for="search" type="text" class="form-control" name="search" value="@ViewBag.Search" />
			<br />
			<input type="submit" value="Vyhledat" class="btn btn-primary" />
		</form>
	</div>

	<br />
	<div class="list">
		<table border="1" class="list table">
			@foreach (Objednavky_Zamestnanci_Zakaznici_Faktury item in Model.Objednavky_Zam_Zak_Fak)
			{
				<tr>
					<th>@Html.DisplayNameFor(item => item.Objednavky_Zam_Zak_Fak[0].Objednavky.CisloObjednavky)</th>
					<th>@Html.DisplayNameFor(item => item.Objednavky_Zam_Zak_Fak[0].Objednavky.DatumPrijeti)</th>
					<th>@Html.DisplayNameFor(item => item.Objednavky_Zam_Zak_Fak[0].Objednavky.Poznamka)</th>
					<th>Zaměstnanec @Html.DisplayNameFor(item => item.Objednavky_Zam_Zak_Fak[0].Zamestnanci.Jmeno)</th>
					<th>Zaměstnanec @Html.DisplayNameFor(item => item.Objednavky_Zam_Zak_Fak[0].Zamestnanci.Prijmeni)</th>
					@if (ViewBag.Role.Equals("Zakaznik"))
					{
						<th>Zaměstnanec @Html.DisplayNameFor(item => item.Objednavky_Zam_Zak_Fak[0].Zamestnanci.Email)</th>
					}
					<th>Faktura:</th>
					<th>Stav faktury:</th>
					<th>Cena objednávky bez DPH [Kč]:</th>
					<th>Cena objednávky vč. DPH [Kč]:</th>
					@if (ViewBag.Role.Equals("Admin") || ViewBag.Role.Equals("Manazer") || ViewBag.Role.Equals("Logistik"))
					{
						<th>Zákazník @Html.DisplayNameFor(item => item.Objednavky_Zam_Zak_Fak[0].Zakaznici.Jmeno)</th>
						<th>Zákazník @Html.DisplayNameFor(item => item.Objednavky_Zam_Zak_Fak[0].Zakaznici.Prijmeni)</th>
						<th>Stav objednávky:</th>
						<th>Přidat zboží:</th>
					}
					@if (ViewBag.Role.Equals("Admin"))
					{
						<th>Upravit:</th>
						<th>Odstranit:</th>
					}
					@if (ViewBag.Role.Equals("Zakaznik"))
					{
						<th>Platba:</th>
					}
				</tr>

				@if (ViewBag.Role.Equals("Zakaznik") && item.Objednavky.Uzavrena == true || ViewBag.Role.Equals("Admin") || ViewBag.Role.Equals("Manazer") || ViewBag.Role.Equals("Logistik"))
				{
					var sumJednotkovaCenaBezDph = Model.ZboziObjednavek_Zbozi.Where(lmb => lmb.ZboziObjednavek.IdObjednavky == item.Objednavky.IdObjednavky).Sum(lmb => (lmb.ZboziObjednavek.JednotkovaCena * lmb.ZboziObjednavek.Mnozstvi)) + item.Faktury.CastkaDoprava;
					string dph = "1." + item.Faktury.Dph.ToString();
					var sumJednotkovaCenaDph = (float)Math.Round((sumJednotkovaCenaBezDph * float.Parse(dph)), 2);
					var celkovaSumaPlateb = Model.Platby.Where(p => p.IdFaktury == item.Faktury.IdFaktury).Sum(p => p.Castka);
					bool jeFakturaZaplacena = celkovaSumaPlateb >= sumJednotkovaCenaDph;
					bool jeSplatnostPrekrocena = !jeFakturaZaplacena && DateTime.Now > item.Faktury.DatumSplatnosti.Value.ToDateTime(TimeOnly.Parse("00:00PM"));
					<tr></tr>
					<tr></tr>
					<tr></tr>
					<tr>
						<td>@item.Objednavky?.CisloObjednavky</td>
						<td>@item.Objednavky?.DatumPrijeti.ToString("dd. MM. yyyy HH:mm")</td>
						<td>@item.Objednavky?.Poznamka</td>
						<td>@item.Zamestnanci?.Jmeno</td>
						<td>@item.Zamestnanci?.Prijmeni</td>
						@if (ViewBag.Role.Equals("Zakaznik"))
						{
							<td><a href="mailto:@item.Zamestnanci?.Email">@item.Zamestnanci?.Email</a></td>
						}
						<td>
							<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.DownloadInvoice)">
								<input type="hidden" name="idFaktury" value="@item.Faktury.IdFaktury" />
								<input type="submit" value="Faktura" class="btn btn-primary" />
							</form>
						</td>
						<td>
							@if (Math.Abs(sumJednotkovaCenaDph) < 0.0001f)
							{
								<p>Objednávka nemá zboží</p>
							}
							else if (item.Objednavky?.Uzavrena == false)
							{
								<p>Objednávka není uzavřena</p>
							}
							else if (jeFakturaZaplacena)
							{
								<p>Zaplaceno</p>
							}
							else if (jeSplatnostPrekrocena)
							{
								<p style="color: red;font-weight:bold;">Datum splatnosti překročeno</p>
							}
							else
							{
								<p>Čeká na zaplacení</p>
							}
						</td>
						<td>@sumJednotkovaCenaBezDph</td>
						<td>@sumJednotkovaCenaDph</td>

						@if (ViewBag.Role.Equals("Zakaznik"))
						{
							<td>
								@if (jeFakturaZaplacena)
								{
									<p>Zaplaceno</p>
								}
								else
								{
									<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.AddPaymentCustomerGet)">
										<input type="hidden" name="idObjednavky" value="@item.Objednavky?.IdObjednavky" />
										<input type="submit" value="Zaplatit" class="btn btn-primary" />
									</form>
								}
							</td>
						}

						@if (ViewBag.Role.Equals("Admin") || ViewBag.Role.Equals("Manazer") || ViewBag.Role.Equals("Logistik"))
						{
							<td>@item.Zakaznici?.Jmeno</td>
							<td>@item.Zakaznici?.Prijmeni</td>

							<td>
								@if (@item.Objednavky?.Uzavrena == true)
								{
									<p>Uzavřená</p>
								}
								else
								{
									if (sumJednotkovaCenaDph > 0)
									{
										<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Order)" asp-action="@nameof(OrderController.CloseOrder)">
											<input type="hidden" name="idObjednavky" value="@item.Objednavky?.IdObjednavky" />
											<input type="submit" value="Uzavřít objednávku" class="btn btn-primary" />
										</form>
									}
									else
									{
										<p>Objednávka nemá zboží</p>
									}
								}
							</td>

							<td>
								@if (item.Objednavky?.Uzavrena == false)
								{
									<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Order)" asp-action="@nameof(OrderController.AddGoodsToOrderGet)">
										<input type="hidden" name="idObjednavky" value="@item.Objednavky?.IdObjednavky" />
										<input type="submit" value="Přidat zboží" class="btn btn-primary" />
									</form>
								}
								else
								{
									<p>Objednávka uzavřena</p>
								}
							</td>
						}
						@if (ViewBag.Role.Equals("Admin"))
						{
							<td>
								<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Order)" asp-action="@nameof(OrderController.EditOrderGet)">
									<input type="hidden" name="idObjednavky" value="@item.Objednavky?.IdObjednavky" />
									<input type="submit" value="Upravit" class="btn btn-primary" />
								</form>
							</td>
							<td>
								<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Order)" asp-action="@nameof(OrderController.DeleteOrder)">
									<input type="hidden" name="index" value="@item.Objednavky?.IdObjednavky" />
									<input type="submit" value="Smazat" class="btn btn-primary" />
								</form>
							</td>
						}
					</tr>

					bool printedHeaderGoods = false;
					bool printedHeaderPayment = false;

					<!-- Výpis objednaného zboží -->
					@foreach (ZboziObjednavek_Zbozi itemZbozi in Model.ZboziObjednavek_Zbozi.Where((lmb) => lmb.ZboziObjednavek.IdObjednavky == item.Objednavky.IdObjednavky).ToList())
					{
						@if (!printedHeaderGoods)
						{
							<tr></tr>
							<tr></tr>
							<tr></tr>
							<tr>
								<td style="font-weight: bold;">Zboží</td>
								<th>@Html.DisplayNameFor(item => item.ZboziObjednavek_Zbozi[0].Zbozi.Nazev)</th>
								<th>@Html.DisplayNameFor(item => item.ZboziObjednavek_Zbozi[0].ZboziObjednavek.Mnozstvi)</th>
								<th>@Html.DisplayNameFor(item => item.ZboziObjednavek_Zbozi[0].ZboziObjednavek.JednotkovaCena)</th>
								<th>Cena celkem [Kč]:</th>
								@if (ViewBag.Role.Equals("Admin"))
								{
									<th>Upravit:</th>
									<th>Odstranit:</th>
								}
							</tr>
							printedHeaderGoods = true;
						}

						<tr>
							<td>>>></td>
							<td>@itemZbozi.Zbozi.Nazev</td>
							<td>@itemZbozi.ZboziObjednavek?.Mnozstvi</td>
							<td>@itemZbozi.ZboziObjednavek?.JednotkovaCena</td>
							<td>@Math.Round((itemZbozi.ZboziObjednavek.Mnozstvi * itemZbozi.ZboziObjednavek.JednotkovaCena), 2)</td>
							@if (ViewBag.Role.Equals("Admin"))
							{
								<td>
									<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Order)" asp-action="@nameof(OrderController.EditGoodsOrderGet)">
										<input type="hidden" name="index" value="@itemZbozi.ZboziObjednavek?.IdZboziObjednavky" />
										<input type="submit" value="Upravit" class="btn btn-primary" />
									</form>
								</td>
								<td>
									<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Order)" asp-action="@nameof(OrderController.DeleteGoodsOrder)">
										<input type="hidden" name="index" value="@itemZbozi.ZboziObjednavek?.IdZboziObjednavky" />
										<input type="submit" value="Smazat" class="btn btn-primary" />
									</form>
								</td>
							}
						</tr>
					}

					<!-- Výpis všech plateb -->
					@foreach (Platby itemPlatba in Model.Platby.Where((lmb) => lmb.IdFaktury == item.Faktury.IdFaktury).ToList())
					{
						@if (!printedHeaderPayment)
						{
							<tr></tr>
							<tr></tr>
							<tr></tr>
							<tr>
								<td></td>
								<th>Platby:</th>
								<th>@Html.DisplayNameFor(item => item.Platby[0].DatumPlatby)</th>
								<th>@Html.DisplayNameFor(item => item.Platby[0].Castka)</th>
								<th>@Html.DisplayNameFor(item => item.Platby[0].TypPlatby)</th>
								<th>@Html.DisplayNameFor(item => item.Platby[0].VariabilniSymbol)</th>
							</tr>
							printedHeaderPayment = true;
						}

						<tr>
							<td></td>
							<td>>>>>></td>
							<td>@itemPlatba.DatumPlatby.ToString("dd. MM. yyyy HH:mm")</td>
							<td>@itemPlatba.Castka</td>
							<td>
								@if (itemPlatba.TypPlatby == 'K')
								{
									<p>Kartou</p>
								}
								else if (itemPlatba.TypPlatby == 'P')
								{
									<p>Prevodem</p>
								}
								else
								{
									<p>Hotove</p>
								}
							</td>
							<td>@itemPlatba.VariabilniSymbol</td>
						</tr>
					}
				}
			}
		</table>
	</div>
</div>
