@model sem_prace_janousek_mandik.Models.Customer.Zakaznici_Adresy
@using sem_prace_janousek_mandik.Controllers.Customer;
@using sem_prace_janousek_mandik.Controllers.Management;
@using sem_prace_janousek_mandik.Models.Customer;

@section Title{
	Info o zákazníkovi
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h2>Info o zákazníkovi:</h2>

	<div class="list table">
		<table border="1" class="list table">
			<tr>
				<th>@Html.DisplayNameFor(item => item.Zakaznici.Jmeno)</th>
				<th>@Html.DisplayNameFor(item => item.Zakaznici.Prijmeni)</th>
				<th>@Html.DisplayNameFor(item => item.Zakaznici.Telefon)</th>
				<th>@Html.DisplayNameFor(item => item.Zakaznici.Email)</th>
				<th>@Html.DisplayNameFor(item => item.Adresy.Ulice)</th>
				<th>@Html.DisplayNameFor(item => item.Adresy.Mesto)</th>
				<th>@Html.DisplayNameFor(item => item.Adresy.Okres)</th>
				<th>@Html.DisplayNameFor(item => item.Adresy.Zeme)</th>
				<th>@Html.DisplayNameFor(item => item.Adresy.Psc)</th>
			</tr>

			<tr>
				<td>@Model.Zakaznici?.Jmeno</td>
				<td>@Model.Zakaznici?.Prijmeni</td>
				<td>@Model.Zakaznici?.Telefon</td>
				<td>@Model.Zakaznici?.Email</td>
				<td>@Model.Adresy?.Ulice</td>
				<td>@Model.Adresy?.Mesto</td>
				<td>@Model.Adresy?.Okres</td>
				<td>@Model.Adresy?.Zeme</td>
				<td>@Model.Adresy?.Psc</td>
			</tr>

		</table>
	</div>
</div>
