@using sem_prace_janousek_mandik.Models.Employee;
@using sem_prace_janousek_mandik.Models.Management;
@model Soubory_Edit

@section Title{
	Úprava souboru
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h1>Úprava souboru</h1>
</div>

<hr />
<div class="form">
	<div class="col-md-4">
		<p>@ViewBag.ErrorInfo</p>
		<form asp-action="EditFilePost" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label>Obrázek zboží: </label>
				<input type="file" name="soubor" />
			</div>
			<br />
			<div class="form-group">
				<label asp-for="Soubory.Nazev" class="control-label"></label>
				<input asp-for="Soubory.Nazev" class="form-control" />
				<span asp-validation-for="Soubory.Nazev" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Soubory.TypSouboru" class="control-label"></label>
				<input asp-for="Soubory.TypSouboru" class="form-control" />
				<span asp-validation-for="Soubory.TypSouboru" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Soubory.PriponaSouboru" class="control-label"></label>
				<input asp-for="Soubory.PriponaSouboru" class="form-control" />
				<span asp-validation-for="Soubory.PriponaSouboru" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Soubory.DatumNahrani" class="control-label"></label>
				<input asp-for="Soubory.DatumNahrani" class="form-control" />
				<span asp-validation-for="Soubory.DatumNahrani" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Soubory.DatumModifikace" class="control-label"></label>
				<input asp-for="Soubory.DatumModifikace" class="form-control" />
				<span asp-validation-for="Soubory.DatumModifikace" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Zamestnanci">Poslední úpravu provedl</label>
				<select asp-for="Soubory.IdZamestnance" class="form-control">
					@foreach (Zamestnanci item in Model.Zamestnanci)
					{
						<option value="@item.IdZamestnance">@item.Jmeno @item.Prijmeni</option>
					}
				</select>
			</div>

			<div class="form-group">
				<input type="hidden" asp-for="Soubory.IdSouboru" value="@Model.Soubory.IdSouboru" />
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Upravit" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
