@using sem_prace_janousek_mandik.Controllers.Management;
@using sem_prace_janousek_mandik.Models.Management;
@model List<Soubory_Vypis>

@section Title{
	Výpis souborů
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h2>Výpis všech souborů:</h2>

	<br />
	<div class="list">
		<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Management)" asp-action="@nameof(ManagementController.SearchFiles)">
			<input for="search" type="text" class="form-control" name="search" value="@ViewBag.Search" />
			<br />
			<input type="submit" value="Vyhledat" class="btn btn-primary" />
		</form>
	</div>

	<br />
	<div class="list">
		<table border="1" class="list table">
			<tr>
				<th>Obrázek:</th>
				<th>@Html.DisplayNameFor(item => item[0].Soubory.Nazev)</th>
				<th>@Html.DisplayNameFor(item => item[0].Soubory.TypSouboru)</th>
				<th>@Html.DisplayNameFor(item => item[0].Soubory.PriponaSouboru)</th>
				<th>@Html.DisplayNameFor(item => item[0].Soubory.DatumNahrani)</th>
				<th>@Html.DisplayNameFor(item => item[0].Soubory.DatumModifikace)</th>
				<th>@Html.DisplayNameFor(item => item[0].JmenoZamestnance) @Html.DisplayNameFor(item => item[0].PrijmeniZamestnance)</th>
				<th>@Html.DisplayNameFor(item => item[0].KdePouzito)</th>
				<th>Upravit:</th>
				<th>Odstranit:</th>
			</tr>

			@foreach (Soubory_Vypis item in Model)
			{
				string imageDataURL = "";
				if (item.Soubory?.Data != null)
				{
					string base64String = Convert.ToBase64String(item.Soubory.Data);
					imageDataURL = $"data:image/png;base64,{base64String}";
				}
				<tr>
					<td>
						@if (item.Soubory?.Data != null)
						{
							<img src="@imageDataURL" alt="@item.Soubory.Nazev" width="100%" height="100%" />
						}
					</td>
					<td>@item.Soubory?.Nazev</td>
					<td>@item.Soubory?.TypSouboru</td>
					<td>@item.Soubory?.PriponaSouboru</td>
					<td>@item.Soubory?.DatumNahrani.ToString("dd. MM. yyyy HH:mm")</td>
					<td>@item.Soubory?.DatumModifikace.ToString("dd. MM. yyyy HH:mm")</td>
					<td>@(item.JmenoZamestnance + " " + item.PrijmeniZamestnance)</td>
					<td>@item.KdePouzito</td>
					<td>
						<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Management)" asp-action="@nameof(ManagementController.EditFileGet)">
							<input type="hidden" name="idSouboru" value="@item.Soubory?.IdSouboru" />
							<input type="submit" value="Upravit" class="btn btn-primary" />
						</form>
					</td>
					<td>
						<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Management)" asp-action="@nameof(ManagementController.DeleteFile)">
							<input type="hidden" name="index" value="@item.Soubory?.IdSouboru" />
							<input type="submit" value="Smazat" class="btn btn-primary" />
						</form>
					</td>
				</tr>
			}
		</table>
	</div>
</div>