@using sem_prace_janousek_mandik.Controllers.Management;
@using sem_prace_janousek_mandik.Models.Management;
@model List<Pozice>

@section Title{
	Výpis pozicí
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h2>Výpis všech pozic:</h2>

	@if (ViewBag.Role == Roles.Admin)
	{
		<br />
		<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Management)" asp-action="@nameof(ManagementController.AddPosition)" method="get">
			<input type="submit" value="Přidat pozici" class="btn btn-primary" />
		</form>
		<br />
	}

	<div class="list">
		<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Management)" asp-action="@nameof(ManagementController.SearchPositions)" method="get">
			<input for="search" type="text" class="form-control" name="search" value="@ViewBag.Search" />
			<br />
			<input type="submit" value="Vyhledat" class="btn btn-primary" />
		</form>
	</div>

	<br />
	<div class="list">
		<table border="1" class="list table">
			<tr>
				<th>@Html.DisplayNameFor(item => item[0].Nazev)</th>
				@if (ViewBag.Role == Roles.Admin)
				{
					<th>Upravit:</th>
					<th>Odstranit:</th>
				}
			</tr>

			@foreach (Pozice item in Model)
			{
				<tr>
					<td>@item.Nazev</td>
					@if (ViewBag.Role == Roles.Admin)
					{
						<td>
							<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Management)" asp-action="@nameof(ManagementController.EditPositionGet)">
								<input type="hidden" name="index" value="@item.IdPozice" />
								<input type="submit" value="Upravit" class="btn btn-primary" />
							</form>
						</td>
						<td>
							<form asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Management)" asp-action="@nameof(ManagementController.DeletePosition)">
								<input type="hidden" name="index" value="@item.IdPozice" />
								<input type="submit" value="Smazat" class="btn btn-primary" />
							</form>
						</td>
					}
				</tr>
			}
		</table>
	</div>
</div>