@using sem_prace_janousek_mandik.Models.Payment;
@using sem_prace_janousek_mandik.Models.Management;
@using sem_prace_janousek_mandik.Models.Employee;
@using sem_prace_janousek_mandik.Models.Goods;
@model Sestavy

@section Title{
	Výpis sestav
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h2>Sestavy:</h2>
	<br />
	<h3>Vypíše faktury, zákazníky a kým byla faktura vytvořena </h3>
	<div class="list">
		<table border="1" class="list table">
			<tr>
				<th>@Html.DisplayNameFor(item => item.Faktury[0].CisloFaktury)</th>
				<th>@Html.DisplayNameFor(item => item.Faktury[0].DatumVystaveni)</th>
				<th>@Html.DisplayNameFor(item => item.Faktury[0].DatumSplatnosti)</th>
				<th>@Html.DisplayNameFor(item => item.Faktury[0].CastkaObjednavka)</th>
				<th>@Html.DisplayNameFor(item => item.Faktury[0].CastkaDoprava)</th>
				<th>@Html.DisplayNameFor(item => item.Faktury[0].Dph)</th>
				<th>@Html.DisplayNameFor(item => item.Faktury[0].ZakaznikJmeno)</th>
				<th>@Html.DisplayNameFor(item => item.Faktury[0].AdresaZakaznika)</th>
				<th>@Html.DisplayNameFor(item => item.Faktury[0].ZamestnanecJmeno)</th>
			</tr>

			@foreach (Faktury_Zak_Zam item in Model.Faktury)
			{
				<tr>
					<td>@item.CisloFaktury</td>
					<td>@item.DatumVystaveni</td>
					<td>@item.DatumSplatnosti</td>
					<td>@item.CastkaObjednavka</td>
					<td>@item.CastkaDoprava</td>
					<td>@item.Dph</td>
					<td>@item.ZakaznikJmeno</td>
					<td>@item.AdresaZakaznika</td>
					<td>@item.ZamestnanecJmeno</td>
				</tr>
			}
		</table>
	</div>

	<br />
	<br />

	<br />
	<h3>
		Vypíše informace o zaměstnancích, jejich pozici a adresu ve specifikovaném formátu,
		a také počet objednávek, které každý zaměstnanec vytvořil
	</h3>
	<div class="list">
		<table border="1" class="list table">
			<tr>
				<th>@Html.DisplayNameFor(item => item.ZamestnanciObjednavky[0].Jmeno)</th>
				<th>@Html.DisplayNameFor(item => item.ZamestnanciObjednavky[0].Prijmeni)</th>
				<th>@Html.DisplayNameFor(item => item.ZamestnanciObjednavky[0].NazevPozice)</th>
				<th>@Html.DisplayNameFor(item => item.ZamestnanciObjednavky[0].Adresa)</th>
				<th>@Html.DisplayNameFor(item => item.ZamestnanciObjednavky[0].PocetObjednavek)</th>
			</tr>

			@foreach (Zamestnanci_Objednavky item in Model.ZamestnanciObjednavky)
			{
				<tr>
					<td>@item.Jmeno</td>
					<td>@item.Prijmeni</td>
					<td>@item.NazevPozice</td>
					<td>@item.Adresa</td>
					<td>@item.PocetObjednavek</td>
				</tr>
			}
		</table>
	</div>

	<br />
	<br />
	<br />
	<h3>Vypíše zboží, jeho umístění a kategorie, které je momentálně na skladě </h3>
	<div class="list">
		<table border="1" class="list table">
			<tr>
				<th>@Html.DisplayNameFor(item => item.ZboziSklad[0].Nazev)</th>
				<th>@Html.DisplayNameFor(item => item.ZboziSklad[0].JednotkovaCena) [Kč]</th>
				<th>@Html.DisplayNameFor(item => item.ZboziSklad[0].PocetNaSklade)</th>
				<th>@Html.DisplayNameFor(item => item.ZboziSklad[0].NazevKategorie)</th>
				<th>@Html.DisplayNameFor(item => item.ZboziSklad[0].NadrazenaKategorie)</th>
				<th>@Html.DisplayNameFor(item => item.ZboziSklad[0].NazevDodavatele)</th>
				<th>@Html.DisplayNameFor(item => item.ZboziSklad[0].Umisteni)</th>
			</tr>

			@foreach (Zbozi_Sklad item in Model.ZboziSklad)
			{
				<tr>
					<td>@item.Nazev</td>
					<td>@item.JednotkovaCena</td>
					<td>@item.PocetNaSklade</td>
					<td>@item.NazevKategorie</td>
					<td>@item.NadrazenaKategorie</td>
					<td>@item.NazevDodavatele</td>
					<td>@item.Umisteni</td>
				</tr>
			}
		</table>
	</div>
</div>
