@model List<sem_prace_janousek_mandik.Models.Supplier.Dodavatele_Adresy>
@using sem_prace_janousek_mandik.Controllers.Supplier;
@using sem_prace_janousek_mandik.Models.Supplier;
@section Title{
	Výpis dodavatelů
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h2>Výpis všech dodavatelů:</h2>

	@if (ViewBag.Role.Equals("Manazer") || ViewBag.Role.Equals("Admin") || ViewBag.Role.Equals("Logistik"))
	{
		<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Supplier)" asp-action="@nameof(SupplierController.AddSupplier)"><button type="submit">Přidat dodavatele</button></a>
		<br />
		<br />
	}

	<table border="1">
		<tr>
			<td>Název</td>
			<td>Jméno</td>
			<td>Příjmení</td>
			<td>Telefon</td>
			<td>Email</td>
			<td>Ulice</td>
			<td>Město</td>
			<td>Okres</td>
			<td>Země</td>
			<td>PSČ</td>
			@if (ViewBag.Role.Equals("Manazer") || ViewBag.Role.Equals("Admin") || ViewBag.Role.Equals("Logistik"))
			{
				<td>Upravit</td>
			}
			@if (ViewBag.Role.Equals("Admin"))
			{
				<td>Odstranit</td>
			}
		</tr>

		@foreach (Dodavatele_Adresy item in Model)
		{
			<tr>
				<td>@item.Dodavatele.Nazev</td>
				<td>@item.Dodavatele.Jmeno</td>
				<td>@item.Dodavatele.Prijmeni</td>
				<td>@item.Dodavatele.Telefon</td>
				<td>@item.Dodavatele.Email</td>
				<td>@item.Adresy.Ulice</td>
				<td>@item.Adresy.Mesto</td>
				<td>@item.Adresy.Okres</td>
				<td>@item.Adresy.Zeme</td>
				<td>@item.Adresy.Psc</td>

				@if (ViewBag.Role.Equals("Manazer") || ViewBag.Role.Equals("Admin") || ViewBag.Role.Equals("Logistik"))
				{
					<td><a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Supplier)" asp-action="@nameof(SupplierController.EditSupplier)" asp-route-index="@item.Dodavatele.IdDodavatele">Upravit</a></td>
				}
				@if (ViewBag.Role.Equals("Admin"))
				{
					<td><a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Supplier)" asp-action="@nameof(SupplierController.DeleteSupplier)" asp-route-idDodavatele="@item.Dodavatele.IdDodavatele" asp-route-idAdresy="@item.Dodavatele.IdAdresy">Smazat</a></td>
				}
			</tr>
		}
	</table>
</div>
