@using sem_prace_janousek_mandik.Controllers.Customer;
@using sem_prace_janousek_mandik.Controllers.Employee;
@using sem_prace_janousek_mandik.Controllers.Goods;
@using sem_prace_janousek_mandik.Controllers.Management;
@using sem_prace_janousek_mandik.Controllers.Order;
@using sem_prace_janousek_mandik.Controllers.Payment;
@using sem_prace_janousek_mandik.Controllers.Supplier;

@{
	string role = ViewBag.Role;
}

<!DOCTYPE html>
<html>
<head>
	<title>@RenderSection("Title", required: false) - Skladové hospodářství</title>
</head>
<body>
	<div>
		@if (role.Equals("Admin") || role.Equals("Manazer") || role.Equals("Logistik") || role.Equals("Skladnik") || role.Equals("Zakaznik"))
		{
			<a asp-controller="Home" asp-action="Index"><button>Domovská stránka</button></a>

			if (role.Equals("Admin"))
			{
				<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Customer)" asp-action="@nameof(CustomerController.ListCustomers)"><button>Zákazníci</button></a>
				<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Management)" asp-action="@nameof(ManagementController.ListDatabaseObjects)"><button>Databázové objekty</button></a>
				<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Management)" asp-action="@nameof(ManagementController.ListLogs)"><button>Logování</button></a>
			}

			if (role.Equals("Zakaznik"))
			{
				<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Customer)" asp-action="@nameof(CustomerController.ListCustomer)"><button>Informace o zákazníkovi</button></a>
			}

			if (role.Equals("Manazer") || role.Equals("Admin"))
			{
				<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Management)" asp-action="@nameof(ManagementController.ListPositions)"><button>Pozice</button></a>
			}

			if (role.Equals("Admin") || role.Equals("Manazer") || role.Equals("Logistik") || role.Equals("Skladnik"))
			{
				<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Goods)" asp-action="@nameof(GoodsController.ListGoods)"><button>Zboží</button></a>
				<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Payment)" asp-action="@nameof(PaymentController.ListInvoices)"><button>Faktury + Platby</button></a>
				<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Goods)" asp-action="@nameof(GoodsController.ListCategories)"><button>Kategorie</button></a>
				<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Goods)" asp-action="@nameof(GoodsController.ListLocations)"><button>Umístění</button></a>
				<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Supplier)" asp-action="@nameof(SupplierController.ListSuppliers)"><button>Dodavatelé</button></a>
				<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Employee)" asp-action="@nameof(EmployeeController.ListEmployees)"><button>Zaměstnanci</button></a>
			}
			<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Order)" asp-action="@nameof(OrderController.ListOrders)"><button>Objednávky</button></a>
		}

		@if (role.Equals(""))
		{
			<a asp-controller="Home" asp-action="Index"><button>Domovská stránka</button></a>
			<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Customer)" asp-action="@nameof(CustomerController.LoginCustomer)"><button>Přihlášení zákazníci</button></a>
			<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Customer)" asp-action="@nameof(CustomerController.RegisterCustomer)"><button>Registrace zákazníci</button></a>
			<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Employee)" asp-action="@nameof(EmployeeController.LoginEmployee)"><button>Přihlášení zaměstnanci</button></a>
		}
		else
		{
			<a asp-controller="Home" asp-action="Logout"><button>Odhlásit se</button></a>
		}

		@if (!ViewBag.EmulatedEmail.Equals(""))
		{
			<a asp-controller="@nameof(sem_prace_janousek_mandik.Controllers.Management)" asp-action="@nameof(ManagementController.EndEmulation)"><button>Ukončit emulaci</button></a>
		}
	</div>

	<hr />

	@RenderBody()
</body>
</html>